@{
    ViewData["Title"] = "Contato";
}
<head>
    <link rel="stylesheet" href="~/css/feedback.css">
</head>
<div class="text-center">
    <h1 class="display-4">Contatos</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
