@{
    ViewData["Title"] = "Manga";
}
<head>
  <link rel="stylesheet" href="~/css/contato.css">
</head>

<div class="text-center">
    <h1 class="display-4">Mangás</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<section>
<div class="card1" style="width: 18rem;">
  <img src="https://m.media-amazon.com/images/I/51ozeKHyYZS.jpg" class="card-img-top" alt="jujutsu">
  <div class="card-body">
    <h5 class="card-title">Jujutsu Kaisen</h5>
    <p class="card-text">O jovem Yuta Okkotsu ganha o controle de um espírito extremamente poderoso, então um grupo de feiticeiros o matriculam na Tokyo Prefectural Jujutsu High School, para ajudá-lo a controlar esse poder e também para ficar de olho nele.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card2" style="width: 18rem;">
  <img src="https://m.media-amazon.com/images/I/51QOd2372JL.jpg" class="card-img-top" alt="kimetsu">
  <div class="card-body">
    <h5 class="card-title">Kimetsu no Yaiba</h5>
    <p class="card-text">A história conta sobre um jovem que ganha a vida vendendo carvão até descobrir que sua família foi massacrada por um demônio, restando apenas sua irmã, Nezuko, que foi infectada e está se tornando um monstro. O protagonista, então, decide virar um caçador de demônios e buscar vingança.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card3" style="width: 18rem;">
  <img src="https://m.media-amazon.com/images/I/71bELfIWTDL.jpg" class="card-img-top" alt="hero">
  <div class="card-body">
    <h5 class="card-title">Boku No Hero</h5>
    <p class="card-text">Em um mundo onde quase toda a população possui algum poder sobre-humano, Izuku Midoriya é um dos poucos casos de pessoas comuns. Mas esse não é o maior de seus problemas. Exatamente por ser desprovido de qualquer poder, Izuku sofre constantemente nas mãos de seus colegas de classe.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card4" style="width: 18rem;">
  <img src="https://m.media-amazon.com/images/I/91WgpA0pjOL.jpg" class="card-img-top" alt="black clover">
  <div class="card-body">
    <h5 class="card-title">Black CLover</h5>
    <p class="card-text">A história acompanha os dois garotos que competem entre si para se tornar o Rei Mago, o cavaleiro mágico mais forte do reino de Clover. Mesmo sem magia, Asta tenta ser um cavaleiro mágico, assim sua jornada começa quando obtém o misterioso poder "antimagia", que pode anular qualquer magia na obra.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</section>

